{
  "presets": [
    [
      "@babel/preset-env", {
        "corejs": "2.x",
        "forceAllTransforms": true,
        "useBuiltIns": "entry",
        "exclude": ["transform-regenerator", "transform-async-to-generator"],
        "debug": true,
        "loose": true
      }
    ]
  ],
  "plugins": [
    "async-to-promises",
    "transform-es3-member-expression-literals",
    "transform-es3-property-literals",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-template-literals"
  ]
}
